article {
    border: orange 1px solid;
    margin-left: 50px;
    margin-right: 50px;
    background-color: rgb(233, 217, 197);
    border-radius: 40px;
    border: 20px rgb(115, 63, 11) solid;
    box-shadow: 0px 0px 10px 10px;
}

h2 {
    /* display: inline-block; */
    /* color: red; */
}

details {
    text-align: center;
    margin-top: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

summary {
    display: inline-block;
    border: black 3px solid;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(203, 70, 70);
}

summary:hover {
    cursor: pointer;
    background-color: rgb(92, 92, 207);
}

summary:active {
    transform: translateX(-1px);
    transform: translateY(1px);
}

ul {
    border: yellow 1px solid;
    display: flex;
    justify-content: center;
    list-style: none;
}

li {
    margin: auto;
    border: green 1px solid;
    /* background-color: olive; */
    /* border-radius: 100px; */
}

.title {
    font-weight: bolder;
    font-size: 2em;
    /* outline effect from https://stackoverflow.com/questions/4919076/outline-effect-to-text */
    text-shadow: -1px -1px 0 whitesmoke, 1px -1px 0 whitesmoke, -1px 1px 0 whitesmoke, 1px 1px 0 whitesmoke;
}

.artist {
    font-style: oblique;
}

.grid {
    /* border: green 1px solid; */
    display: grid;
    grid-template-columns: repeat(4, 150px);
    grid-template-rows: repeat(2, 150px);
    gap: 25px;
    margin: 50px;
    /* width: auto; */
    padding-left: 15%;
    padding-right: 15%;
}

.grid>* {
    /* border: blue 1px solid; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
}

.circle {
    background-color: rgb(38, 38, 38);
    display: grid;
    grid-template-columns: 1, 50px;
    grid-template-rows: repeat(2, 50px);
}

.circle:hover>* {
    /* border: blue 1px solid; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
}

.circle:hover>.datatype {
    color: #E0E722;
    font-size: 20px;
}

.circle:hover>.value {
    font-size: 30px;
}

.circle:hover {
    width: 175px;
    height: 175px;
    transform: translate(-10px, -10px);
}

.datatype {
    /* border: 1px red solid; */
    /* display: flex; */
    text-align: center;
    font-weight: bolder;
    color: antiquewhite;
    font-size: 11px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.value {
    /* border: 1px blue solid; */
    text-align: center;
    font-size: 25px;
    width: 80px;
    border-radius: 100px;
    background-color: antiquewhite;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

table {
    overflow: scroll;
}